[submodule "FlowMeter"]
	path = FlowMeter
	url = https://github.com/vogler/FlowMeter.git
[submodule "libraries/HX711"]
	path = libraries/HX711
	url = https://github.com/bogde/HX711.git
[submodule "SmartLock"]
	path = SmartLock
	url = https://github.com/vogler/SmartLock.git
[submodule "libraries/WEMOS_Motor_Shield_Arduino_Library"]
	path = libraries/WEMOS_Motor_Shield_Arduino_Library
	url = https://github.com/wemos/WEMOS_Motor_Shield_Arduino_Library.git
[submodule "wemos_motor_shield"]
	path = wemos_motor_shield
	url = https://github.com/pbugalski/wemos_motor_shield
